mixin FooterList(...items)
  each item in items
    li.lh-lg
      a.text-200.text-decoration-none(href='#!')
        =item

mixin Footer 
  +Section.py-5    
    .row.flex-center
      .col-md-6.col-xl-8.order-0 
        p.text-center.text-md-start All rights Reserved &copy;  Your Company, 2021
      .col-md-6.col-xl-3.order-1
        p.text-center.text-md-end.text-xl-start Made with&nbsp;
          svg.bi.bi-suit-heart-fill(xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='#EE4D47' viewBox='0 0 16 16')
            path(d='M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z')

          |&nbsp;by&nbsp;
          a(href='https://themewagon.com/' target='_blank').text-1000.fw-bold ThemeWagon 
  
        ul.list-unstyled.list-inline.mb-6.mb-md-0.text-center.text-md-end.text-xl-start
          li.list-inline-item.mr-2
            a.text-decoration-none(href='#!')
              img.list-social-icon(src=`${CWD}assets/img/icons/i.png`  alt='...')
          li.list-inline-item.mr-2
            a.text-decoration-none(href='#!')
              img.list-social-icon(src=`${CWD}assets/img/icons/t.png`  alt='...')
          li.list-inline-item.mr-2
            a.text-decoration-none(href='#!')
              img.list-social-icon(src=`${CWD}assets/img/icons/f.png`  alt='...')
          