mixin HowToApply
  +Section
    .row.align-items-center
      .col-md-6.text-center.mb-6.mb-md-0
        img.w-100(src=`${CWD}assets/img/gallery/how-to-apply.png`  alt='...')
      .col-md-6.text-center.text-md-start.mb-6.px-4
        h4.text-danger.text-uppercase How to apply
        p.my-5.fs-1.pe-xl-7 When applying for a traffic permit, there are certain requirements that you must meet that are included in the examination: requirements for professional knowledge, solid establishment, good reputation and financial resources. Important to remember is to confirm your application for a traffic permit by the company's company signer or CEO.